<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module/Config/etc/system_file.xsd">
    <system>
        <tab id="tinxit" translate="label" sortOrder="1000" class="tinxit-icon">
            <label>Tinx-IT</label>
        </tab>
        <section id="tinxit_core" translate="label" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>General information</label>
            <tab>tinxit</tab>
            <resource>TinxIT_Core::config</resource>
            <group id="hint" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                <frontend_model>TinxIT\Core\Block\Adminhtml\System\Config\General</frontend_model>
            </group>
        </section>
    </system>
</config>
